# ETL Pipeline 
按照下面的说明，创建你的 ETL 管道。
### 1. 导入与加载.
- 导入 Python 库
- 将 `messages.csv` 导入数据框，查看前几行
- 将 `categories.csv` 导入数据框，查看前几行

In [39]:
# import libraries
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [40]:
def load(filename1, filename2):
    messages2 = pd.read_csv(filename1)
    categories2 = pd.read_csv(filename2)
    df2 = pd.merge(messages2, categories2, how = 'inner', on = 'id')
    return df2

In [35]:
df3 = load("messages.csv", "categories.csv")

In [36]:
df3.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [41]:
# load messages dataset
messages = pd.read_csv("messages.csv")
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [84]:
messages['original']

0        Un front froid se retrouve sur Cuba ce matin. ...
1                       Cyclone nan fini osinon li pa fini
2        Patnm, di Maryani relem pou li banm nouvel li ...
3        UN reports Leogane 80-90 destroyed. Only Hospi...
4        facade ouest d Haiti et le reste du pays aujou...
5                      Informtion au nivaux palais nationl
6                              Cyclone Coeur sacr de jesus
7        Tanpri nou bezwen tant avek dlo nou zon silo m...
8                    Mwen ta renmen jouin messag yo. Merci
9        Nou kwadebouke, nou gen pwoblem sant m yo nan ...
10                 Bon repo pa gen anyen menm grangou swaf
11                  M nan pv mvle plis enfomasyon sou 4636
12       Mwen thomassin 32 nan pyron mwen ta renmen jwe...
13       Ann fel ansanm bezwen manje nan delma 75 nan r...
14       gen plis enfomasyon sou 4636 la pom w sim ap k...
15       Komite katye delma 19 rue janvier imp charite ...
16       Nou bezwen mange avek dlo nan klcin 12 LA LAFI...
17       Eske se rele nap relem oubyen se mwen kap rele...
18       Mwen pa konprann koman pou m itilize bagay 463...
19       Mwen ta remen connin si trenblem de terre afin...
20       Mwen ta renmen konnen eske ge jounalis radyo g...
21       Mwen laplan mwen viktim kot yap bay d pou latr...
22         Nan moleya pa gen dlo svp f konnen sa pou mwen.
23        nou menm nan sibert nou grangou nou bezwen mange
24       Mwen salye nou dab mesaj mwen an se jis nou ge...
25                      Can you tell me about this service
26       MEZANMI MWEN MWEN NAN DELMA 2 NOU TR MAN MAL N...
27         Se gressier nou an difikilte tanpri vin ede nou
28       Comment nou ka jwen dlo ak manje nan font 43 c...
29       Nap di secours yo bliye kafou net sant m ap to...
                               ...
26218                                                  NaN
26219                                                  NaN
26220                                                  NaN
26221                                                  NaN
26222                                                  NaN
26223                                                  NaN
26224                                                  NaN
26225                                                  NaN
26226                                                  NaN
26227                                                  NaN
26228                                                  NaN
26229                                                  NaN
26230                                                  NaN
26231                                                  NaN
26232                                                  NaN
26233                                                  NaN
26234                                                  NaN
26235                                                  NaN
26236                                                  NaN
26237                                                  NaN
26238                                                  NaN
26239                                                  NaN
26240                                                  NaN
26241                                                  NaN
26242                                                  NaN
26243                                                  NaN
26244                                                  NaN
26245                                                  NaN
26246                                                  NaN
26247                                                  NaN
Name: original, Length: 26248, dtype: object

In [42]:
# load categories dataset
categories = pd.read_csv('categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. 合并数据集
- 使用相同的 id 合并 messages 和 categories 数据集
- 将合并后的数据集传入 `df`，在后续的步骤中要清洗该数据集。

In [43]:
# merge datasets
df = pd.merge(messages, categories, how = 'inner', on = 'id')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [85]:
df.shape

(26386, 5)

In [87]:
df[df['genre'] == 'news']

,id,message,original,genre,categories
13258,15730,UNICEF is also upgrading solid waste managemen...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
13259,15731,China periodically faces spills into rivers th...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
13260,15732,"DATO' SRI MOHD NAJIB BIN TUN HAJI ABDUL RAZAK,...",NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
13261,15733,This is a vital step in ensuring respect for h...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
13262,15734,The pumping of contaminated water from the bas...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
13263,15735,Some of the illnesses have presented symptoms ...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
13264,15736,The country's sole electricity provider Escom ...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
13265,15737,There are reports of widespread power and tele...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
13266,15738,"She added: ""We are not going to treat the Zimb...",NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
13267,15739,Local administrative bodies are trained to qui...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
13268,15741,Government rescue workers evacuated residents ...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
13269,15742,"As internally displaced persons (IDPs), they h...",NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
13270,15743,AmeriCares is providing 3.1 million water puri...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
13271,15744,Mbackombel's photovoltaic panels are used for ...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
13272,15745,In spite of having been granted a demurrage wa...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
13273,15748,National investment in climate had targeted in...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
13274,15749,"As well, security threats from jihads remained.",NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
13275,15751,"According to the BNGRC's Soa, ""Ivan passed tho...",NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
13276,15752,The Alliance is also preparing to deploy NATO ...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
13277,15753,"CRS is also providing 50,000 liters of tested ...",NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
13278,15755,"Thus, Oxfam is gearing up towards returnee com...",NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
13279,15756,Through the nationwide fundraising campaign in...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
13280,15757,A peace agreement last year ended nearly three...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
13281,15758,The former rebels have been living in the camp...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
13282,15759,- Deployment of mobile emergency health units ...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
13283,15760,Some herders now have their homes connected to...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
13284,15760,Some herders now have their homes connected to...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
13285,15760,Some herders now have their homes connected to...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
13286,15760,Some herders now have their homes connected to...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
13287,15761,"Patients usually experience fever, generalised...",NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
...,...,...,...,...,...
26356,30233,The ability to pick dengue from influenza is c...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26357,30234,A Federation chartered ship arrived from Lae w...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26358,30235,The result is that in Aceh province many prefa...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26359,30236,"Otherwise, the risk is families fleeing again ...",NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
26360,30237,A United Nations team from the Electoral Assis...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
26361,30238,Senegal and Guinea-Bissau have agreed to condu...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26362,30239,The President said that her Government always ...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
26363,30240,It was decided that all vehicle movement from ...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26364,30241,The tendency to link deforestation with large ...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
26365,30242,Polio is a viral disease that attacks the nerv...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
26366,30243,The new constitution declares that 'Somalia is...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
26367,30245,We're providing clean water to people who woul...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26368,30246,"Relief items include towels, sanitary napkins,...",NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26369,30247,In Aceh's Meulaboh town the UN refugee agency ...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26370,30248,WHO is recruiting a sanitary engineer / consul...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
26371,30249,Following the severe floods which occurred ove...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
26372,30250,The closure has stopped 169 inbound flights an...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
26373,30251,"BANGKOK, 24 January 2012 (NNT) - Prime Ministe...",NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26374,30253,"Cadmium, a metallic element widely used in bat...",NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
26375,30254,Epidemic surveillance: National Institute of C...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26376,30255,2.1 Due to sporadic skirmishes in eastern D.R....,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26377,30256,No other army had gone to greater lengths to a...,NaN,news,related-1;request-1;offer-0;aid_related-0;medi...
26378,30257,The delivery was made in conjunction with the ...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
26379,30258,However while ECOWAS wanted him to lead a 12-m...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
26380,30259,"Hpakant, an area rich with coveted jade stones...",NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
26381,30261,The training demonstrated how to enhance micro...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
26382,30262,A suitable candidate has been selected and OCH...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
26383,30263,"Proshika, operating in Cox's Bazar municipalit...",NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
26384,30264,"Some 2,000 women protesting against the conduc...",NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26385,30265,A radical shift in thinking came about as a re...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...

In [76]:
messages.shape

(26248, 4)

In [72]:
categories.shape

(26248, 2)

### 3. 分割 `categories` 
- 将 `categories` 列的值根据字符 `;` 进行分割，每个值是一个新列。你会发现 [这个方法](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) 非常有用。确保设置 `expand=True`。
- 使用 categories 数据框的第一行来创建类别数据的列名。
- 使用新的列名重命名 `categories` 的列。

In [44]:
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [47]:
categories = df['categories'].str.split(";", expand = True)

In [48]:
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [56]:
# create a dataframe of the 36 individual category columns
categories = categories['categories'].str.split(";",expand = True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [49]:
# select the first row of the categories dataframe
row = categories.iloc[0,:]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = list(row.apply(lambda x:x.split('-')[0]))
print(category_colnames)

['related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

In [58]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. 转换类别值至数值 0 或 1
- 遍历 df 的类别列，只保留每个字符串的最后一个字符（1 或 0）。例如，`related-0` 变成 `0`，`related-1` 变成 `1`。将字符串转换成数值。
- 通过在 Series 后加上`.str`，你可以实现 [Pandas Series 上的常见字符串操作](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str)，如索引。你可能需要先将 Series 转换成类型字符串，你可以通过 `astype(str)` 实现。

In [59]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].apply(lambda x:x.split('-')[1])
    
    # convert column from string to numeric
    categories[column] = categories[column].astype("int64")
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
categories.shape

(26248, 36)

### 5. 替换 `df` `categories` 类别列
- 从 df 数据框中删除类别列，因为不再需要类别列了。
- 将 df 和 categories 数据框连接起来。

In [61]:
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [62]:
df.isnull().sum()

id                0
message           0
original      16140
genre             0
categories        0
dtype: int64

In [63]:
# drop the original categories column from `df`

df = df.drop(columns ='categories')
df.head()

   id                                            message   genre
0   2  Weather update - a cold front from Cuba that c...  direct
1   7            Is the Hurricane over or is it not over  direct
2   8                    Looking for someone but no name  direct
3   9  UN reports Leogane 80-90 destroyed. Only Hospi...  direct
4  12  says: west side of Haiti, rest of the country ...  direct

In [64]:
df.isnull().sum()

id         0
message    0
genre      0
dtype: int64

In [65]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis = 1)
df.head()

,id,message,genre,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,direct,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,7,Is the Hurricane over or is it not over,direct,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,8,Looking for someone but no name,direct,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12,"says: west side of Haiti, rest of the country ...",direct,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
df.isnull().sum()

id                          0
message                     0
genre                       0
related                   138
request                   138
offer                     138
aid_related               138
medical_help              138
medical_products          138
search_and_rescue         138
security                  138
military                  138
child_alone               138
water                     138
food                      138
shelter                   138
clothing                  138
money                     138
missing_people            138
refugees                  138
death                     138
other_aid                 138
infrastructure_related    138
transport                 138
buildings                 138
electricity               138
tools                     138
hospitals                 138
shops                     138
aid_centers               138
other_infrastructure      138
weather_related           138
floods                    138
storm                     138
fire                      138
earthquake                138
cold                      138
other_weather             138
direct_report             138
dtype: int64

### 6. 删除重复行
- 检查这个数据集中有多少重复行。
- 删除重复行。
- 确认重复行被删除了。

In [49]:
# check number of duplicates
df[df.duplicated()].count()

id                        41
message                   41
original                  23
genre                     41
related                   41
request                   41
offer                     41
aid_related               41
medical_help              41
medical_products          41
search_and_rescue         41
security                  41
military                  41
child_alone               41
water                     41
food                      41
shelter                   41
clothing                  41
money                     41
missing_people            41
refugees                  41
death                     41
other_aid                 41
infrastructure_related    41
transport                 41
buildings                 41
electricity               41
tools                     41
hospitals                 41
shops                     41
aid_centers               41
other_infrastructure      41
weather_related           41
floods                    41
storm                     41
fire                      41
earthquake                41
cold                      41
other_weather             41
direct_report             41
dtype: int64

In [50]:
# drop duplicates
df = df.drop_duplicates()

In [51]:
# check number of duplicates
df[df.duplicated()].count()

id                        0
message                   0
original                  0
genre                     0
related                   0
request                   0
offer                     0
aid_related               0
medical_help              0
medical_products          0
search_and_rescue         0
security                  0
military                  0
child_alone               0
water                     0
food                      0
shelter                   0
clothing                  0
money                     0
missing_people            0
refugees                  0
death                     0
other_aid                 0
infrastructure_related    0
transport                 0
buildings                 0
electricity               0
tools                     0
hospitals                 0
shops                     0
aid_centers               0
other_infrastructure      0
weather_related           0
floods                    0
storm                     0
fire                      0
earthquake                0
cold                      0
other_weather             0
direct_report             0
dtype: int64

### 7. 保存整理后的数据集为 sqlite databse 
你可以使用 pandas 的 [`to_sql` 方法](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) 和SQLAlchemy 库实现这一点。记得在 notebook 的第一个单元格导入 SQLAlchemy 的 `create_engine` 以在下方使用该库。

In [53]:
engine = create_engine('sqlite:///InsertDatabaseName.db')
df.to_sql('InsertTableName', engine, index=False)

### 8. 在这个notebook 里完成 `etl_pipeline.py`
使用 Resources 文件夹中给出的模板文件编写脚本，运行上面的步骤，根据用户指定的新数据库创建一个数据库。或者，你也可以在项目工作环境 IDE 中完成教室中的 `etl_pipeline.py` 。